*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

 

#root{
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
}

.parent{
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
}

.card{
  height: 250px;
  width: 220px;
  background-color: #fff;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.top{
  font-size: 1rem ;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.top button{
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
}


.center img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
